<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.10.68;Initial Catalog=FMD;uid=sa;password=P@ssw0rd" />
  </connectionStrings>
  <appSettings>
    <add  key="CommandTimeout" value ="90"/>
  </appSettings>
</configuration>